Repository AlexWayfer/gem_template: changes, and which Cirrus tasks are due for each by the changed paths.
All: remark, bundle-audit, rubocop, rspec

.cirrus.yaml:

bundle_cache: &bundle_cache
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
      - echo $CIRRUS_OS
      - ruby -v
      - cat Gemfile
  install_script:
    - gem install bundler
    - bundle update

env:
  ## To suppress flood of warnings:
  ## https://github.com/cirruslabs/cirrus-ci-docs/issues/814
  ## https://github.com/rubygems/rubygems/issues/4466#issuecomment-818688569
  ## Global for:
  ## 1. different tasks (rubocop, test, etc.);
  ## 2. avoiding overriding `env` in specific cases like macOS.
  TMPDIR: $CIRRUS_WORKING_DIR

remark_task:
  container:
    image: node
  node_modules_cache:
    folder: node_modules
    fingerprint_script:
      - echo $CIRRUS_OS
      - node -v
      - cat package.json
  install_script: npm install

  lint_script: npm run remark

  only_if: ($CIRRUS_BRANCH == 'main') ||
    changesInclude(
      '.cirrus.yaml', '.gitignore', 'package.json', '.remarkrc.yaml', '**.md'
    )

bundle-audit_task:
  container:
    image: ruby

  <<: *bundle_cache

  audit_script: bundle exec bundle-audit check --update

  only_if: ($CIRRUS_BRANCH == 'main') ||
    changesInclude(
      '.cirrus.yaml', '.gitignore', 'Gemfile'
    )

rubocop_task:
  container:
    image: ruby

  <<: *bundle_cache

  lint_script: bundle exec rubocop

  always:
    rubocop_artifacts:
      path: rubocop.json
      type: text/json
      format: rubocop

  only_if: ($CIRRUS_BRANCH == 'main') ||
    changesInclude(
      '.cirrus.yaml', '.gitignore', 'Gemfile', '.rubocop.yml', '**.rb', '**.ru'
    )

rspec_task:
  depends_on:
    - remark
    - bundle-audit
    - rubocop

  container:
    image: ruby

  <<: *bundle_cache

  apt_cache:
    folder: /var/cache/apt/archives
    reupload_on_changes: true

  preparation_script:
    - git config --global init.defaultBranch main
    - apt-get update
    - apt-get install -y npm

  test_script: bundle exec rspec

  only_if: ($CIRRUS_BRANCH == 'main') ||
    changesInclude(
      '.cirrus.yaml', '.gitignore', 'Gemfile', '.rspec', 'spec/**'
    )

Update toys dependencies in template
  template/Gemfile
Due: none

Resolve new `bundle update` deprecation warning in CI
  template/.cirrus.yaml
Due: none

Add `.ruby-version` file to `.gitignore`
  .gitignore
Due: remark, bundle-audit, rubocop, rspec

Drop Ruby 3.0 and 3.1 support
  .rubocop.yml
  template/.cirrus.yaml
  template/.rubocop.yml.erb
  template/gem_name.gemspec.erb
Due: rubocop

Add Ruby 3.3 and 3.4 in template for CI
  template/.cirrus.yaml
Due: none

Add Ruby 4.0 support in template
  template/.cirrus.yaml
  template/gem_name.gemspec.erb
Due: none

Update `gem_generator` dependency
  Gemfile
Due: bundle-audit, rubocop, rspec

Update RuboCop and its plugins
  Gemfile
Due: bundle-audit, rubocop, rspec

Fix indentation in RuboCop template config
  template/.rubocop.yml.erb
Due: none

Specify indentation for `.yaml.erb` files
  .editorconfig
Due: none

Pending specs for outdated Ruby gems in template
  spec/generated_gem_spec.rb
Due: rubocop, rspec

Update `gem_toys` and `toys` dependencies in template
  template/Gemfile
Due: none

Update RuboCop and its plugins in template
  template/Gemfile
Due: none

Disable RuboCop's `RSpec/Output` locally
  spec/generated_gem_spec.rb
Due: rubocop, rspec
