Repository AlexWayfer/gem_template: changes, and which Cirrus tasks are due for each by the changed paths.
All: remark, bundle-audit, rubocop, rspec

.cirrus.yaml:

bundle_cache: &bundle_cache
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
      - echo $CIRRUS_OS
      - ruby -v
      - cat Gemfile
  install_script:
    - gem install bundler
    - bundle update

env:
  ## To suppress flood of warnings:
  ## https://github.com/cirruslabs/cirrus-ci-docs/issues/814
  ## https://github.com/rubygems/rubygems/issues/4466#issuecomment-818688569
  ## Global for:
  ## 1. different tasks (rubocop, test, etc.);
  ## 2. avoiding overriding `env` in specific cases like macOS.
  TMPDIR: $CIRRUS_WORKING_DIR

remark_task:
  container:
    image: node
  node_modules_cache:
    folder: node_modules
    fingerprint_script:
      - echo $CIRRUS_OS
      - node -v
      - cat package.json
  install_script: npm install

  lint_script: npm run remark

  only_if: ($CIRRUS_BRANCH == 'main') ||
    changesInclude(
      '.cirrus.yaml', '.gitignore', 'package.json', '.remarkrc.yaml', '**.md'
    )

bundle-audit_task:
  container:
    image: ruby

  <<: *bundle_cache

  audit_script: bundle exec bundle-audit check --update

  only_if: ($CIRRUS_BRANCH == 'main') ||
    changesInclude(
      '.cirrus.yaml', '.gitignore', 'Gemfile'
    )

rubocop_task:
  container:
    image: ruby

  <<: *bundle_cache

  lint_script: bundle exec rubocop

  always:
    rubocop_artifacts:
      path: rubocop.json
      type: text/json
      format: rubocop

  only_if: ($CIRRUS_BRANCH == 'main') ||
    changesInclude(
      '.cirrus.yaml', '.gitignore', 'Gemfile', '.rubocop.yml', '**.rb', '**.ru'
    )

rspec_task:
  depends_on:
    - remark
    - bundle-audit
    - rubocop

  container:
    image: ruby

  <<: *bundle_cache

  apt_cache:
    folder: /var/cache/apt/archives
    reupload_on_changes: true

  preparation_script:
    - git config --global init.defaultBranch main
    - apt-get update
    - apt-get install -y npm

  test_script: bundle exec rspec

  only_if: ($CIRRUS_BRANCH == 'main') ||
    changesInclude(
      '.cirrus.yaml', '.gitignore', 'Gemfile', '.rspec', 'spec/**'
    )

Update dependencies in the template
  template/gem_name.gemspec.erb
Due: none

Make `rubocop-rspec` version lock more strict
  Gemfile
Due: bundle-audit, rubocop, rspec

Update RuboCop in the template
  template/gem_name.gemspec.erb
Due: none

Update RuboCop RSpec in the template
  template/gem_name.gemspec.erb
Due: none

Update dependencies
  Gemfile
  template/gem_name.gemspec.erb
Due: bundle-audit, rubocop, rspec

Move development dependencies from gemspec into Gemfile in template
  template/Gemfile
  template/gem_name.gemspec.erb
Due: none

Drop Ruby 2.6 and 2.7 support
  .rubocop.yml
  template/.cirrus.yaml
  template/.rubocop.yml.erb
  template/gem_name.gemspec.erb
Due: rubocop

Update RuboCop RSpec in the template
  template/Gemfile
Due: none

Add remark configuration to the root
  .remarkrc.yaml
Due: remark

Update Toys dependencies
  template/Gemfile
Due: none

Remove extra RuboCop artifacts from CI config
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, rspec

Update RuboCop dependencies
  Gemfile
  template/Gemfile
Due: bundle-audit, rubocop, rspec

Update RuboCop in the template
  template/Gemfile
Due: none

Add empty lines to template Cirrus CI config
  template/.cirrus.yaml
Due: none

Remove artifacts for Cirrus CI RuboCop
  template/.cirrus.yaml
Due: none

Lock `rubocop-performance` version more strict
  template/Gemfile
Due: none

Resolve `gem build` warning about `homepage_uri` and `source_code_uri`
  template/gem_name.gemspec.erb
Due: none

Update dependencies in the template
  template/Gemfile
Due: none

Update RuboCop version in the template
  template/Gemfile
Due: none

Update RuboCop RSpec versions
  Gemfile
  template/Gemfile
Due: bundle-audit, rubocop, rspec

Return `tab` style to `remark-lint-list-item-indent`
  .remarkrc.yaml
  template/.remarkrc.yaml
Due: remark

Update `remark-preset-lint-recommended` version in the template
  template/package.json
Due: none

Update RuboCop dependencies in the template
  template/Gemfile
Due: none

Update `gem_generator` dependency
  Gemfile
Due: bundle-audit, rubocop, rspec

Update Renovate configuration file
  renovate.json
Due: none

Replace `require:` with `plugins:` for RuboCop plugins
  .rubocop.yml
  template/.rubocop.yml.erb
Due: rubocop
