Repository AlexWayfer/gem_template: changes, and which Cirrus tasks are due for each by the changed paths.
All: remark, bundle-audit, rubocop, rspec

remark:
  container:
    image: node
  node_modules_cache:
    folder: node_modules
    fingerprint_script:
    - echo $CIRRUS_OS
    - node -v
    - cat package.json
  install_script: npm install
  lint_script: npm run remark

bundle-audit:
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
    - echo $CIRRUS_OS
    - ruby -v
    - cat Gemfile
  install_script:
  - gem install bundler
  - bundle update
  container:
    image: ruby
  audit_script: bundle exec bundle-audit check --update

rubocop:
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
    - echo $CIRRUS_OS
    - ruby -v
    - cat Gemfile
  install_script:
  - gem install bundler
  - bundle update
  container:
    image: ruby
  lint_script: bundle exec rubocop
  always:
    rubocop_artifacts:
      path: rubocop.json
      type: text/json
  ...

rspec:
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
    - echo $CIRRUS_OS
    - ruby -v
    - cat Gemfile
  install_script:
  - gem install bundler
  - bundle update
  depends_on:
  - remark
  - bundle-audit
  - rubocop
  container:
    image: ruby
  apt_cache:
    folder: /var/cache/apt/archives
  ...

Improve specs code about files content
  spec/generated_gem_spec.rb
Due: rubocop, rspec

Process cases with apostrophe in author name
  spec/generated_gem_spec.rb
Due: rubocop, rspec

Update Codecov uploader
  template/.cirrus.yaml
  template/gem_name.gemspec.erb
  template/spec/spec_helper.rb.erb
Due: none

Move `bundler-audit` dependency to `bundler`
  template/gem_name.gemspec.erb
Due: none

Update `gem_generator` dependency
  Gemfile
Due: bundle-audit, rubocop, rspec

Fix `.rubocop.yml` file render
  spec/generated_gem_spec.rb
  template/.rubocop.yml.erb
Due: rubocop, rspec

Add `rubygems_mfa_required` to gemspec metadata
  template/gem_name.gemspec.erb
Due: none

Update dependencies
  template/gem_name.gemspec.erb
Due: none

Replace `gem install bundler` with `gem update --system`
  .cirrus.yaml
  template/.cirrus.yaml
Due: remark, bundle-audit, rubocop, rspec

Add Ruby 3.1 for CI
  template/.cirrus.yaml
Due: none

Resolve new RuboCop offense
  spec/generated_gem_spec.rb
Due: rubocop, rspec

Update RuboCop in the template
  template/gem_name.gemspec.erb
Due: none

Run RSpec CI on changes at `template/`
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, rspec

Use newer NodeJS in CI
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, rspec

Refine RuboCop's cop about indentation
  .rubocop.yml
  template/.rubocop.yml.erb
Due: rubocop

Update `toys` and `gem_toys` for template
  template/gem_name.gemspec.erb
Due: none

Update RuboCop to version 1.36
  Gemfile
  template/gem_name.gemspec.erb
Due: bundle-audit, rubocop, rspec

Activate test about template Bundle updated
  spec/generated_gem_spec.rb
Due: rubocop, rspec

Support RSpec `--only-failures` feature
  .gitignore
  spec/spec_helper.rb
  template/.gitignore
  template/spec/spec_helper.rb.erb
Due: remark, bundle-audit, rubocop, rspec

Move gem version badge in README at the beginning
  template/README.md.erb
Due: none

Lock `rubocop-rspec` version stricter
  template/gem_name.gemspec.erb
Due: none

Remove dependencies of CI tasks because of different `only_if`
  .cirrus.yaml
  template/.cirrus.yaml
Due: remark, bundle-audit, rubocop, rspec

Update `rubocop` in template
  template/gem_name.gemspec.erb
Due: none

Execute `bundle outdated` for template correctly
  spec/generated_gem_spec.rb
Due: rubocop, rspec

Update template's dependencies
  template/gem_name.gemspec.erb
Due: none

Add Ruby 3.2 to the template CI
  template/.cirrus.yaml
Due: none

Update dependencies in the template
  template/gem_name.gemspec.erb
Due: none

Path conditions:
  remark: any of: .cirrus.yaml, .gitignore, package.json, .remarkrc.yaml, **.md
  bundle-audit: any of: .cirrus.yaml, .gitignore, Gemfile
  rubocop: any of: .cirrus.yaml, .gitignore, Gemfile, .rubocop.yml, **.rb, **.ru
  rspec: any of: .cirrus.yaml, .gitignore, Gemfile, .rspec, spec/**
